<!-- GET https://practiceguides.chambers.com/
UA browser
fetched 2026-10-08T14:51:49.143418Z
status 200
final https://practiceguides.chambers.com/
redirects 
Content-Length: 7357
Content-Type: text/html; charset=utf-8
Date: Thu, 08 Oct 2026 14:51:48 GMT
Server: Microsoft-IIS/10.0
Cache-Control: private
Content-Encoding: gzip
Vary: Accept-Encoding
X-AspNetMvc-Version: 5.2
X-AspNet-Version: 4.0.30319
X-Powered-By: ASP.NET
-->
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <!-- OneTrust Cookies Consent Notice start for practiceguides.chambers.com -->
    <script type="text/javascript"
            src=https://cdn.cookielaw.org/consent/1c35042a-55e8-436f-9149-6484f146df26/OtAutoBlock.js ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8"
            data-domain-script=1c35042a-55e8-436f-9149-6484f146df26></script>


    <script src="/bundles/sharedLayout?v=8-Hr7uXaaQtmCYIu_vpjM4HdduzmFQ9vaR_LYex7zTQ1"></script>


    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for practiceguides.chambers.com -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Home  | Global Practice Guides | Chambers and Partners</title>
    
    <meta description="Chambers Global Practice Guides, Chambers Practice Guides, Global Practice Guides, Country Practice Guides, Practice Guides" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:400,300,700">

    <script type="text/javascript" src="https://secure.leadforensics.com/js/142862.js"></script>
    <noscript><img alt="" src="https://secure.leadforensics.com/142862.png" style="display: none;" /></noscript>

    <link href="/bundles/css?v=duJHNN7GDR7hvYlntLUfCgKeX0AjRfSMXNb8c98ziJw1" rel="stylesheet"/>

    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>

    <!-- Latest compiled and minified AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/bundles/lodash?v=i5x2VZFAGflxq7l14LtgcO7YY2aW2oTtk8V9_DaSMhs1"></script>

    <script src="/bundles/tabdrop?v=kh8bpdG0nL6xAgxv-dHlCknJogMZA6oVQOehGLkZGs01"></script>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2506633-16"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());
            gtag('config', 'UA-2506633-16');
        </script>

    


        <!-- Google Tag Manager -->
        <script>
            var gtmAuth = 'ONaGQDepZvyrlC3qm_-xAA' ? '&gtm_auth=ONaGQDepZvyrlC3qm_-xAA' : '';
            var gtmPreview = 'env-3' ? '&gtm_preview=env-3' : '';

            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl + gtmAuth + gtmPreview + '&gtm_cookies_win=x'; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5XQNXQW');
        </script>
        <!-- End Google Tag Manager -->

    <script type="text/javascript">
        var api = {};
        api.apiUrl = 'https://practiceguides.chambers.com/';
        var appInsights = window.appInsights ||
            function(config) {
                function r(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking ||
                (i = "onerror", r("_" + i), f = e[i], e[i] = function(config, r, u, e, o) {
                    var s = f && f(config, r, u, e, o);
                    return s !== !0 && t["_" + i](config, r, u, e, o), s
                }), t
            }({
                instrumentationKey: '7bd819af-4043-493e-9411-98089bd04f13'
            });
        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

</head>
<body class="Home">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XQNXQW&gtm_auth=ONaGQDepZvyrlC3qm_-xAA&gtm_preview=env-3&gtm_cookies_win=x"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">

        

<nav class="nav">
    <div class="container">
        <a href="/home" class="header-top-logo"></a>
    </div>
    <div class="nav__top">
        <div class="container">
            <div class="pull-right">
                <a href="https://chambers.com" title="go to Chambers and Partners" target="_blank">
                    <span class="jump-link hidden-sm hidden-xs">Chambers and Partners website</span>
                    <i class="mdi mdi-open-in-new"></i>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

    </div>
    <div class="nav__btm">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse -remove-padding -remove-margin">
                <ul class="navbar-nav js-navmenu">
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/practicearea">PRACTICE GUIDES</a></li>
                    <li><a href="/jurisdiction">JURISDICTIONS</a></li>
                    <li><a href="/author" class="second-menu-line menu-contributions">CONTRIBUTORS</a></li>
                    <li><a href="/about" class="second-menu-line menu-about">ABOUT</a></li>
                    <li><a href="/contact" class="second-menu-line menu-contact">CONTACT</a></li>
                    <li>
                        <a class="hidden-lg hidden-md hidden-sm visible-xs" href="https://chambers.com" target="_blank">
                            Chambers and Partners website
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</nav>


        



<div data-ng-app="MainModule" id="body-content">
    <section class="homepage-img">
        <div class="container title-container">
            <div class="row home-page-first-row">
                <div class="col-xs-12 col-sm-12 col-md-push-4 col-md-8 col-lg-push-4 col-lg-8">
                    <div class="gpg-title">
                        <p class="gpg-home-title">GLOBAL PRACTICE GUIDES</p>
                        <p class="gpg-home-subtitle">Expert Commentary on Legal Issues</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-pull-8 col-md-4 col-lg-pull-8 col-lg-4 chambers-books-image">
                    <img src="Images/chambers-gpg-home.png" alt="" class="img-responsive home-image" />
                </div>
            </div>
        </div>
        <!-- Start of Searches-->
        <div class="gpg-home-search position-relative">
            <div class="container v2center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 gpg-pading-bottom-15">
                        <div ng-cloak ng-controller="GuideSearchCtrl">
                            <div class="inner-addon right-addon">
                                <i class="ionicons ion-ios-book gpg-search-icon"></i>
                                <input autocomplete="off" id="guideSearch" type="text" class="form-control search-location" placeholder="Search by Guide" data-ng-model="guideSearchTerm" onfocus="$('#guides').show();" onblur="$('.location-list').hide();" ng-keydown="keyPress($event)" />
                                <input type="hidden" data-ng-model="showitems" />
                            </div>
                            <div id="guides" class="location-list result-right-box -remove-margin margin-top-minus5 home-dropdown-list">
                                <div ng-if="!GuideList">
                                    <img src="/Images/loading.gif" />
                                </div>
                                <ul>
                                    <li ng-repeat="guide in GuideList |orderBy:'name' | filter : guideSearchTerm track by $index" ng-class="{'selected':$index == selectedRow}" ng-mouseover="setRow($index)" tabindex="1">
                                        <div class="location-list_wrapper" ng-click="navigateToGuide(guide)" ng-mousedown="navigateToGuide(guide)">
                                            {{guide.name}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 gpg-pading-bottom-15">
                        <div ng-cloak ng-controller="JurisdictionSearchCtrl">
                            <div class="inner-addon right-addon">
                                <i class="ionicons ion-earth gpg-search-icon"></i>
                                <input autocomplete="off" id="jurisdictionSearch" type="text" class="form-control search-location" placeholder="Select Jurisdiction" data-ng-model="countrySearchTerm" onfocus="$('#jurisdictionCountries').show();" onblur="$('.location-list').hide();" ng-keydown="keyPress($event)" />
                                <input type="hidden" data-ng-model="showitems" />
                            </div>
                            <div id="jurisdictionCountries" class="location-list result-right-box -remove-margin margin-top-minus5 home-dropdown-list">
                                <div ng-if="!LocationList">
                                    <img src="/Images/loading.gif" />
                                </div>
                                <ul>
                                    <li ng-repeat="location in LocationList | orderBy:'chapterName' | filter : countrySearchTerm" ng-class="{'selected':$index == selectedRow}" ng-mouseover="setRow($index)" tabindex="1">
                                        <div class="location-list_wrapper" ng-click="navigateToJurisdiction(location)" ng-mousedown="navigateToJurisdiction(location)">
                                            {{location.chapterName}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div ng-cloak ng-controller="AuthorSearchCtrl">
                            <div class="inner-addon right-addon">
                                <i class="ionicons ion-ios-person gpg-search-icon"></i>
                                <input autocomplete="off" id="authorSearch" type="text" class="form-control search-location" placeholder="Contributors" data-ng-model="authorSearchTerm" onfocus="$('#authors').show();" onblur="$('.location-list').hide();" ng-keydown="keyPress($event)" />
                                <input type="hidden" data-ng-model="showitems" />
                            </div>
                            <div id="authors" class="location-list result-right-box -remove-margin margin-top-minus5 home-dropdown-list">
                                <div ng-if="!AuthorList">
                                    <img src="/Images/loading.gif" />
                                </div>
                                <ul>
                                    <li ng-repeat="author in AuthorList | orderBy: 'fullName' | filter : authorSearchTerm">
                                        <div class="location-list_wrapper" ng-click="navigateToAuthor(author)">
                                    <li ng-repeat="author in AuthorList | localOrderBy: 'fullName' | filter : authorSearchTerm">
                                        <div class="location-list_wrapper" ng-click="navigateToAuthor(author)">
                                    <li ng-repeat="author in AuthorList | orderBy: 'fullName' | filter : authorSearchTerm" ng-class="{'selected':$index == selectedRow}" ng-mouseover="setRow($index)" tabindex="1">
                                        <div class="location-list_wrapper" ng-click="navigateToAuthor(author)" ng-mousedown="navigateToAuthor(author)">
                                            {{author.fullName}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <!--description-->
        <div class="row gpg-home-row-2">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 gpg-pading-bottom-15">
                <p class="home-page-description gpg-description-top-margin gpg-left-description-bottom-margin">
                    Chambers Global Practice Guides provide in-house counsel with expert legal commentary on the main practice areas in key jurisdictions around the world. <br> The guides focus on the practical legal issues affecting business and enable the reader to compare legislation and procedure across a range of key jurisdictions.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <p class="home-page-description gpg-description-top-margin gpg-right-description-bottom-margin">
                    For every guide we select Contributing Editors who are ranked in the relevant Chambers Guides as the best in their field. The individual contributors who write the ‘Law and Practice’ and ‘Trends & Developments’ sections are selected on the same basis.
                </p>
            </div>
            <hr class="bold-seperator full-width clear-separator" />
        </div>
        <!--latest publication-->
        <div class="row gpg-home-row-3">
            <span class="gpg-heading-1 margin-left-15">Latest Publications</span>
            <br />
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gpg-pading-bottom-15">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 -remove-margin -remove-padding">
                        <a href="/practice-guides/banking-finance-2026">
                            <img src="https://chambersandpartners.azureedge.net/practiceguides/banking-finance-2026-lg.jpg" class="img-responsive latest-publication-guideimage" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 -remove-margin -remove-padding">
                        <a href="/practice-guides/banking-finance-2026" title="Banking &amp; Finance 2026" class="guide-list-link gpg-heading-2">
                            Banking &amp; Finance 2026<br />
                        </a>
                        <p class="home-page-description">
                            The new Banking &amp; Finance 2026 guide covers nearly 40 jurisdictions and provides the latest legal insights into lending markets and financing transactions worldwide. It examines the impact of global conflicts and ESG considerations on lending, alongside loan structuring and documentation, foreign lending restrictions, tax issues, guarantees and security, enforcement, and insolvency. The guide also explores project finance developments and the legal outlook across major markets.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gpg-pading-bottom-15">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 -remove-margin -remove-padding">
                        <a href="/practice-guides/franchising-2026">
                            <img src="https://chambersandpartners.azureedge.net/practiceguides/franchising-2026-lg.jpg" class="img-responsive latest-publication-guideimage" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 -remove-margin -remove-padding">
                        <a href="/practice-guides/franchising-2026" title="Franchising 2026" class="guide-list-link gpg-heading-2">
                            Franchising 2026<br />
                        </a>
                        <p class="home-page-description">
                            The 2026 Franchising guide provides the latest legal information on franchising agreements; disclosure requirements and exemptions; registration of franchises and the consequences of failing to register; past-profitability requirements; duration, renewal and termination; competition restrictions, including territorial exclusivity and channel reservation; choice of governing law of the franchise agreement; and tax and franchise fee/royalty issues.
                        </p>
                    </div>
                </div>
            <hr class="bold-seperator full-width gpg-margin-top-15 clear-separator" />
        </div>
        <!--recently updated practice areas-->
        <div class="row gpg-home-row-4 content-bottom-padding">
            <span class="gpg-heading-1 margin-left-15">Recently Updated Practice Areas</span>
            <br />
            <div ng-controller="GpgHomeCtrl">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gpg-pading-bottom-15">
                        <a href="/practice-guides/banking-finance-2026" title="Banking &amp; Finance 2026" class="guide-list-link gpg-heading-2">
                            Banking &amp; Finance 2026<br />
                        </a>
                        <span class="gpg-updated-date">Last Updated: 08/10/2026</span>
                        <p class="home-page-description gpg-margin-top-15">
                            <span id="learn-0">
                                The new Banking &amp; Finance 2026 guide covers nearly 40 jurisdictions and provides the latest legal insights into lending markets and financing transactions worldwide. It examines the impact of global conflicts and ESG considerations on lending, alongside loan structuring and documentation, foreign lending restrictions, tax issues, guarantees and security, enforcement, and insolvency. The guide also explores project finance developments and the legal outlook across major markets.
                            </span>
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gpg-pading-bottom-15">
                        <a href="/practice-guides/franchising-2026" title="Franchising 2026" class="guide-list-link gpg-heading-2">
                            Franchising 2026<br />
                        </a>
                        <span class="gpg-updated-date">Last Updated: 07/10/2026</span>
                        <p class="home-page-description gpg-margin-top-15">
                            <span id="learn-1">
                                The 2026 Franchising guide provides the latest legal information on franchising agreements; disclosure requirements and exemptions; registration of franchises and the consequences of failing to register; past-profitability requirements; duration, renewal and termination; competition restrictions, including territorial exclusivity and channel reservation; choice of governing law of the franchise agreement; and tax and franchise fee/royalty issues.
                            </span>
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gpg-pading-bottom-15">
                        <a href="/practice-guides/cloud-computing-2026" title="Cloud Computing 2026" class="guide-list-link gpg-heading-2">
                            Cloud Computing 2026<br />
                        </a>
                        <span class="gpg-updated-date">Last Updated: 06/10/2026</span>
                        <p class="home-page-description gpg-margin-top-15">
                            <span id="learn-2">
                                The 2026 Cloud Computing guide provides the latest information on data privacy regulation in relation to cloud computing and cross-border data transfers, penalties for non-compliance with such regulation, data security in the cloud, data ownership and portability, due diligence and vendor management in cloud service agreements, requirements to investigate and remedy data breaches, and compliance/auditing in the cloud computing space.
                            </span>
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gpg-pading-bottom-15">
                        <a href="/practice-guides/insurance-litigation-2026" title="Insurance Litigation 2026" class="guide-list-link gpg-heading-2">
                            Insurance Litigation 2026<br />
                        </a>
                        <span class="gpg-updated-date">Last Updated: 01/10/2026</span>
                        <p class="home-page-description gpg-margin-top-15">
                            <span id="learn-3">
                                The new Insurance Litigation 2026 guide covers nearly 30 jurisdictions and provides the latest legal insights into the key drivers of insurance disputes and their resolution. It examines jurisdiction and choice of law considerations, arbitration, coverage disputes, claims against insureds, and evolving liability and defence trends. The guide also explores the impact of geopolitical developments on insurance litigation, emerging risk areas, and the legislative and regulatory outlook across major markets.
                            </span>
                        </p>

                    </div>
            </div>
        </div>
    </div>
</div>
        <div id="footer" class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 footer-left">
                <span>
                    &copy; 2026
                </span>
                <span>
                   <span class="footer-copy-big">
                        Chambers and Partners &nbsp;|&nbsp;
                        <a href="https://chambers.com/info/terms-and-conditions" target="_blank">Terms and Conditions</a> &nbsp;|&nbsp; <a href="https://chambers.com/info/privacy" target="_blank">Privacy</a>
                    </span>
                </span>
            </div>
            <div class="col-lg-4 footer-right">
                <a href="https://www.linkedin.com/company/chambers-and-partners/">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://twitter.com/chambersguides?lang=en">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="https://en-gb.facebook.com/Chambersandpartners/">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
            </div>
        
            <div class="col-lg-12 disclaimer">
                <hr />
                Chambers and Partners make no representation or endorsement of the quality and services supplied
                by companies or firms that may be found on this website. In no event will Chambers and Partners
                be liable for any damages including, without limitation, indirect or consequential damages,
                or any damages whatsoever arising from use or loss of use, data, or profits, whether in action
                of contract, negligence or other tort action, arising out of or in connection with the use
                of the website.
            </div>
        </div>
    </div>
</div>

    </div>
    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

    <script src="/bundles/bootstrap?v=S9-VFjJll7-h6B6vedKZxuNRBdqXLY3XTPKv3OQRv1w1"></script>

    <script src="/bundles/pgAngularApp?v=JR-jRk1xHnRNs1cHIMU-G9yL4OGxgrnclk3m8-xS-7c1"></script>


    
</body>
</html>
